# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.15
    hooks:
      - id: uv-lock
      # - id: uv-export
        # args:
        #   - --no-hashes
        #   - --no-annotate
        #   - --frozen
        #   - --no-header
        #   - --no-dev
        #   - --output-file=requirements.txt

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        types: [html]
        args: [--write]

  - repo: local
    hooks:
      - id: htmlhint
        name: htmlhint
        entry: npx htmlhint
        language: node
        types: [html]
        args: ["--config", ".htmlhintrc"]
